/* Main Container */
/* .main {
    background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  } */

/* Login Container */
.container {
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

/* Logo */
.login-logo {
  max-width: 200px;
  margin-bottom: 20px;
}

/* Login Heading */
.login-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #07043d;
}

/* Login Form */
.login-form {
  text-align: left;
}

/* Label */
.label {
  font-size: 18px;
  color: #337cf3ec;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Input Fields */
.input-email,
.input-password {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #262222e9;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #000000;
}

/* Submit Button */
.btn-submit {
  background-color: #337cf3ec;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
}

.btn-submit:hover {
  background-color: #55a0d5;
}

/* Forgot Password */
.forgot-password {
  font-size: 14px;
  color: #337cf3ec;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.login-popup-content {
  background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}

.close-popup {
  position: absolute;
  top: 0.3rem;
  right: 0.4rem;
  padding: 0.5rem 1rem;
  background-color: #E52B50;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
}

.close-popup:hover {
  background-color: #800080;
}