/* Styling for the employee cards container */
.employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
border-radius: 15px;
margin-bottom: 20px;
}

.header-title-employee {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.employee-create {
  margin-bottom: 20px;
}

.employee-create-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  float: right;
  font-size: 15px;
  font-weight: bold;
}

.employee-create-btn:hover {
  background-color: #0056b3;
}

.employee-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.employee-card-employee {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
}

.employee-card-employee:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.employee-name {
  font-size: 24px;
  margin-bottom: 7px;
  color: #000000;
  font-weight: bold;
}

.employee-department-name {
  font-size: 17px;
  color: #000000;
}

.employee-departmenthead-name {
  font-size: 16px;
  color: #00aaff;
}

.employee-employee-id,
.employee-age {
  font-size: 16px;
  color: #004c53;
}

.employee-image {
  width: 125px;
  height: 110px;
  border-radius: 15%;
  object-fit: cover;
  margin-top: 10px;
}

.employee-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  
}

.edit-employee-button,
.delete-employee-button {
  background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.edit-employee-button:hover,
.delete-employee-button:hover {
  background-image: linear-gradient( 96.5deg,  rgb(19, 53, 17) 10.4%, rgb(16, 77, 53) 87.7% );;
}

